* {
  font-family: 'EB Garamond', serif;
  color: white;
  background: linear-gradient(top, #1a1a1a, black);
  background-color:  #1a1a1a;

}

.main {
  position: absolute;
  height: 700px;
  width: 100%;
}

#words {
  position: relative;
  padding-top: 300px;
  padding-left: 10%;
  width: 80%;
  text-align: center;
  align: center;
}

p .asides {
  font-size: 20px;
 /* not smaller yet*/
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

p {
  font-size: 32px;
}

